.cart_total {
  margin-top: 10px;
  width: 100%;
  text-align: right;
}
.cart_total span {
  text-align: right;
}

.cart_total .total_price {
  width: 150px;
}

.total_flex {
  display: flex;
  justify-content: flex-end;
  line-height: 180%;
}

.order_top {
  display: flex;
  width: 20%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart_button {
  background-color: black;
  color: white;
  width: 150px;
  height: 30px;
  float: right;
  margin-top: 20px;
}

.total_right {
  float: right;
  width: 50%;
  padding-top: 15px;
  padding-left: 5%;
}
