* {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  flex-direction: column;
  height: 90px;
  width: 100%;
  padding: 15px 10px;
}
.navbar:hover {
  background-color: white;
}
.navbar__top {
  display: flex;
  justify-content: space-between;
}
ul {
  padding-left: 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.navbar__top__logo {
  font-size: 20px;
}
.navbar__top__middleMenu {
  display: flex;
  padding-left: 80px;
}
.nabar__top__middleMune__item {
  font-size: 13px;
  padding: 0px 32px;
}
.navbar__top__sideMenu {
  display: flex;
}
.navbar__top__sideMenu__item {
  font-size: 13px;
  padding: 0px 20px;
}
.navbar__bottom {
  display: flex;
  justify-content: center;
  margin: 0;
}
.bottom_navbar_item {
  font-size: 20px;
  padding: 0px 30px;
}
