* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #111;
  outline: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 100px;
  width: 100%;
}

.content {
  width: 100%;
  max-width: 1280px;
  margin: 0px auto 100px;
  padding: 0 20px;
}

@media only screen and (max-width: 900px) {
  .content {
    margin: 75px auto 0px;
    padding: 0 15px;
  }
}

.product__container {
  width: 70%;
}

.grid3 {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  grid-gap: 15px;
}

.grid3 > .reviewContainer > img {
  max-height: 500px;
}

.grid4 {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  grid-gap: 15px;
}

.grid4 > .reviewContainer > img {
  max-height: 370px;
}

.marginDiv50 {
  margin-bottom: 50px;
}

.marginDiv80 {
  width: 100%;
  height: 1px;
  margin-bottom: 80px;
}
