.navbar {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 10px 15px;
  height: auto;
  transition: all 0.7s;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: none;
  z-index: 2;
}

.navbar:hover {
  background-color: white;
}

.nabar__top__middleMune__item a,
.navbar__top__sideMenu__item a {
  color: #111;
  font-size: 12px;
  line-height: 1.67em;
  font-weight: 300;
  text-transform: capitalize;
}

.navbar__top {
  display: flex;
  justify-content: space-between;
}
.navbar li,
.mobile__menu li {
  list-style: none;
}
.navbar a,
.mobile__menu a {
  text-decoration: none;
  color: black;
}

.navbar__top__logo {
  font-size: 20px;
}
.navbar__top__middleMenu {
  display: flex;
  padding-left: 100px;
}
.nabar__top__middleMune__item {
  font-size: 13px;
  padding: 0px 32px;
}
.navbar__top__sideMenu {
  display: flex;
}
.navbar__top__sideMenu__item {
  font-size: 13px;
  padding: 0px 15px;
}
.navbar__bottom {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.bottom_navbar_item {
  font-size: 20px;
  padding: 0px 30px;
}

.menu {
  display: none;
  font-size: 14px;
}

.mobile__menu {
  display: block;
  visibility: hidden;
  flex-direction: column;
  transition: all 0.7s;
  background-color: white;
  padding: 10px 15px;
  width: 270px;
  height: 100%;
  position: fixed;
  right: -300px;
  top: 0px;
  overflow-y: auto;
  z-index: -1;
}
.mobile__menu__section__1 {
  display: flex;
}
.mobile__menu__section__1__item {
  padding-right: 15px;
  font-size: 13px;
}
.mobile__menu__section__2 {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 35px;
}
.mobile__menu__section__2__item {
  padding-bottom: 5px;
}
.mobile__menu__section__3 {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.mobile__menu__section__3__item {
  font-size: 13px;
}
.mobile__menu__section__4 {
  font-size: 13px;
}
.mobile__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 0;
  background-color: black;
  opacity: 0;
  z-index: -1;
  transition: all 0.7s;
}

@media only screen and (max-width: 900px) {
  .menu {
    display: inline-block;
  }
  .navbar {
    background: none;
  }
  .navbar__top__middleMenu,
  .navbar__top__sideMenu,
  .navbar__bottom {
    display: none;
  }
}
