.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px 15px 15px 15px;
}

.footer ul {
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 1.57em;
  text-transform: capitalize;
}
