/* 모달창을 화면 중앙. 최상단에 노출 */
.modal {
  /* 모달창 크기 */
  width: 100vw;
  height: 100vh;
  position: fixed;
  /* 최상단 위치 */
  z-index: 999;
  left: 50%;
  transform: translate(-50%, 0%);

  /* 모달창 디자인 */
  border: 1px solid black;
  border-radius: 8px;
  padding: 70px 80px;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
}

/* 모달창 내부 X버튼 */
.close {
  position: relative;
  float: right;
}

.img_container {
  width: 70%;
  height: 100%;
  object-fit: contain;
  background-color: black;
}

.img_container img {
  display: block;

  margin: auto;
  width: 50%;
  height: 100%;
  text-align: center;
  border-style: none;
  overflow: clip;
}

.content_container {
  width: 30%;
  height: 100%;
  background-color: white;
  padding: 10px 20px;
}

.modal_button {
  background-color: black;
  color: white;
  width: 150px;
  height: 30px;
  float: right;
  margin: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.review__product {
  padding: 18px 0px;
  margin-top: 5px;
  margin-bottom: 30px;
  display: flex;
  border-bottom: 1px solid lightgray;
}

.review__product__name {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.review__product__scoreAndCount {
  font-size: 13px;
}
.marginleft5 {
  margin-left: 20px;
}

.review__gray {
  color: #91949c;
}

.review__product__detail {
  display: flex;
  flex-direction: column;
  line-height: 140%;
}

.review__product__image {
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.review_content {
  font-size: 14px;
  height: 15%;
}

.review_user_name {
  font-size: 14px;
  font-weight: bold;
}

.review_user_date {
  font-size: 14px;
}

.sizeAndColor {
  margin: 10px 0px;
  font-size: 14px;
}
.review_heart_icon {
  width: 16px;
  height: 20px;
  margin-right: 8px;
  cursor: pointer;
}
.review__help {
  display: flex;
  align-items: center;
  font-size: 13px;
}
